<p id="notice"><%= notice %></p>


    <div class="flex-container">
    <% @projects.each do |project| %>
      <div class="flex-item">
        <%= project.title %>
        <!--
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        -->
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>

          <% project.tasks.each do |task| %>
           <div class="flex-item2"><%= task.title %> </div>

          <% end %>
          </div>


    <% end %>
 </div>

<br>

<%= link_to 'New Project', new_project_path %>
